apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: etymograph
  labels:
    app: api
spec:
  selector:
    app: api
  ports:
    - name: http
      port: 4000
      targetPort: 4000
  type: ClusterIP
